/* General */
:root {
    --monospace: "Consolas", "Menlo", "Monaco", "Lucida Console",
        "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
        "Courier New", "monospace", "serif";
    --text-color: #aaa;
    --background-color: #1d1f21;
    --button-background-color: #373b41;
    --hover-button-background-color: #43484f;
    --hover-button-text-color: #c5c8c6;
    --panel-border-color: #888;
    --panel-background-color: #282a2e;
    --system-message-text-color: #d2d209;
    --timestamp-text-color: #5b5b70;
    --toolbar-shadow-color: #202225;
}
* {
    border: 0 solid #000000;
    margin: 0;
    outline: none;
    padding: 0;
    zoom: 1;
    position: relative;
    box-sizing: border-box;
}
html {
    height: 100vh;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--monospace);
    font-size: 13px;
    height: 100vh;
    line-height: 1.5;
    transition-property: all;
    width: 100%;
}
.blurBackground {
    backdrop-filter: blur(10px);
}
.animatedConnectingBar {
    width: 16px;
    margin: 0 2px;
    background-color: #21236b;
    animation-duration: 1.2s;
    animation-name: connecting;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    height: 80px;
}
@keyframes connecting {
    0% {
        top: 8px;
        height: 64px;
        background-color: aqua;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}
